::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

:root {
  --black: #1c1c1c;
  --white: #eee;
  --blue: #001b48;
  --blue2: #a8ccea;
  --gray: #444;
}

a {
  color: var(--black);
  text-decoration: none;
}
li {
  list-style: none;
}

nav {
  background-color: #001b48;
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  box-sizing: border-box;
  align-items: center;
}
.nav__left {
  align-items: center;
  display: flex;
  width: 30%;
  height: 100%;
  background-color: var(--white);
  clip-path: polygon(100% 0, 100% 110px, 82% 100%, 0 100%, 0 0);
}
.nav__left  img {
  height: 100px;
}
.nav__right {
  width: 70%;
  height: 100%;
}

.nav__contact {
  background: var(--white);
  display: flex;
  justify-content: space-around;
}

.contact__card {
  padding: 10px 20px 0px 20px;
  align-items: center;
  display: flex;
}
.contact__card img {
  margin: 0px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.nav__nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__nav > ul > li > a {
  color: var(--white);
  margin: 0px;
}

.intro_page {
  width: 100vw;
  height: calc(100vh - 150px);
  overflow: hidden;
}

.intro_page > img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 150px);
  z-index: -100;
}

.intro_page > div {
  background-color: #1c1c1c77;
  color: var(--white);
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  color: var(--white);
  background-color: var(--blue);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 40px;
  font-weight: 800;
}

button:hover {
  color: var(--blue);
  background-color:var(--white) ;
  outline: 4px solid var(--blue);
}

button:active{
  outline: 4px solid var(--blue2);
}

.intro_page>div>h3{
  font-weight: 400;
  margin: 0px;
}
.intro_page>div>h1{
  font-size: 80px;
  margin: 0px;

}
.intro_page>div>p{
  margin-bottom: 80px;  
}

.intro{
  margin: 80px 0px;
  padding: 20px 100px;
  background-color: var(--black);
  color: white;
}

.intro>h2{
  font-size: 40px;
  margin: 20px 0px;
}


/*! */
.cart{
  margin: 80px 0px;
  padding: 20px 100px;
}

.cart__grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px 0px;
  text-align: center;
  margin: 50px 0px;
  vertical-align: middle;
}
.cart__grid>*{
  width: 100%;
  height: 80px;
  font-size: 20px;
  margin: 0px;
  align-self: center;
  justify-self: center;
}

.cart__grid>img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.cart_total{
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: end;
  padding-right: 20%;
}
.cart_total>p{
  padding: 20px;

}
.cart__grid>input{
  margin-top: -50px;
  padding: 10px;
  border-radius: 20px;
  height: min-content;
  border: 2px solid var(--black);
  text-align: center;
}
.cart__grid>input:active,.cart__grid>input:focus{
  outline: none;
 }
 

.cart__grid>.delete{
 font-size: 40px;
 margin-top: -30px;
}
.enc{
  background-color: var(--blue);
  color: var(--white);
  vertical-align: middle;
  padding: 20px;
  height: 20px;
}

.cart__contact{
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.cart__contact>div>input{
  margin-top: -50px;
  padding: 10px;
  border-radius: 20px;
  height: min-content;
  border: 2px solid var(--black);
  text-align: center;
}

footer{
  display: flex;
  padding: 80px;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--black);
  color: white;
}

footer>div{
  width: calc(100% / 3);
  padding: 40px;
}



footer p, footer a{
  font-size: 18px;
  margin: 10px;
}

.footer__left>img{
 width: 400px;
 object-fit: cover;
}
.footer__left>div{
  display: flex;
  align-items: center;
}
.footer__left>div>img{
  margin: 20px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
 }
 footer h3{
  font-size: 25px;
 }
 .footer__center>ul{
  margin: 0px;
  padding: 0px;
 }

 .footer__center>ul>li{
  margin: 20px 0px;
 }

 .footer__center>ul>li>a{
  color: var(--white);
 }

 .footer__right>div{
  padding: 30px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
 }
 .footer__right>div>p:nth-child(2n+1){
  font-weight: 800;
 }

 .credits{
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
  margin: 0px;
  font-size: 18px;
  padding: 10px;
}


.nav-res{
  visibility: hidden;
  width: 0px;
  overflow: hidden;
  height: 0px;
}
.nav-res{
  text-align: center;
  background-color: var(--blue);
  font-size: 30px;
  position: absolute;
  z-index: 2000;
}

.nav-res *{
  margin: 20px 0px;
  padding: 0px;
  color: var(--white);
}
body{
  font-family: 'Open Sans', sans-serif;
 }

 @media screen and (max-width: 1200px) {
  nav{
    visibility: hidden;
    width: 0px;
    height: 0px;
  }


  footer{
    padding: 20px;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  footer>div{
    padding: 0px;
    width: 100%;
  }
  .footer__left>img{
    width: 100%;
  }

  .cart{
    padding: 20px;
  }
  .cart__grid{
    max-width: 100%;
    overflow-y: scroll;
  }

  .cart__contact{
    flex-direction: column-reverse;
    text-align: center;
  }
  .cart__contact>div{
    margin-top: 40px;
  }
  .nav-res{
    visibility: visible;
    width: 100%;
    overflow: hidden;
    height: 70px;
    transition: 0.5s;
    cursor: pointer;
}
.ver{
  height:  300px;
}


}